.alignBox {
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    margin-left: 100px;
}
.textBox2 {
    margin-left: 30px;
    padding: 0px;
    align-self: flex-start;
}

.volWrapper .subField {
    width: 500px;
}

footer {
    min-height: 100px;
}