html, body
{
    margin: 0px;
    height: 100%;
    min-width: 700px;
}

header {
    display: flex;
    min-width: 100%;
    height: 130px;
    background-image: url(assets/IMG_6969.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    /*background-color: gray;*/
    margin-bottom: 15px;
}

#pfb {
    border-radius: 50%;
    width: 115px;
    height: 115px;
    border: solid white 3px;
    margin: 6px;
}

.link {
    color: rgb(213, 213, 247);
}

.alignBox {
    align-content: center;
    margin: 00px 10% 0px 10%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.shade {
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,0.8);

}

.headerBox {
    display: flex;
}
.headerBox div {
    margin: 5px;
}

.textBox1 {
    display: inherit;
    justify-content: center;
    align-items: center;
}

.textBox2 {
    padding: 0px 0px 0px 80px;
    align-self: center;
}

.colBox {
    display: flex;
    position: relative;
    left: -70px;
}
.rowBox {
    display: flex;
    flex-direction: column;
}


.subText {
    color: gray;
}

.subField {
    position: relative;
    width: 500px;
}

.favIcon {
    border-radius: 10%;
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin-right: 20px;
}

.volWrapper .favIcon {
    max-width: 30px;
    max-height: 30px;
    margin-top: 5px;
}

.volWrapper .colBox {
    left: -50px;
    padding: 15px 0px;
    min-width: 0px;
}

.volWrapper .subField {
    width: initial;
}

h1 {
    margin: 0px 0px 5px 0px;
    font-size: x-large;
}

.alignBox h1 {
    width: 100%;
    display: inline-block;
    opacity: 0.9;
    border-bottom: 3px solid #bbbbbb;
    position: relative;
    left: -70px;
    padding: 0px 0px 3px 70px;
}

.alignBox .volWrapper h1 {
    left: -50px;
    padding: 0px 0px 3px 50px;
}

ul {
    margin-top: 5px;
    padding-left: 20px;
}
ul li {
    padding-bottom: 5px;
}

h2, .h2like {
    font-size: large;
    font-weight: normal;
}

h3 {
    font-size: medium;
    margin-block-end: 5px;
}